<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Zapisz się</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">Jestem: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Mężczyzna
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Kobieta
    </label>
  </div>


  <div class="form-group">
    <input type="date" class="form-control" placeholder="Data Urodzenia"  formControlName="dateOfBirth"
                [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}">
    <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').hasError('required') && registerForm.get('dateOfBirth').touched">
      Data urodzenia jest wymagana
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Znak zodiaku"  formControlName="zodiacSign"
                [ngClass]="{'is-invalid': registerForm.get('zodiacSign').errors && registerForm.get('zodiacSign').touched}">
    <div class="invalid-feedback" *ngIf="registerForm.get('zodiacSign').hasError('required') && registerForm.get('zodiacSign').touched">
      Znak zodiaku jest wymagany
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Miasto"  formControlName="city"
                [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}">
    <div class="invalid-feedback" *ngIf="registerForm.get('city').hasError('required') && registerForm.get('city').touched">
      Miasto jest wymagane
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Kraj"  formControlName="country"
                [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}">
    <div class="invalid-feedback" *ngIf="registerForm.get('country').hasError('required') && registerForm.get('country').touched">
      Kraj jest wymagany
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nazwa użytkownika"  formControlName="username"
                [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}">
    <div class="invalid-feedback">Podaj nazwe uzytkownika</div>
  </div>

  <div class="form-group">
      <input type="password" class="form-control" placeholder="Hasło" formControlName="password"
                [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}">
      <div class="invalid-feedback"
            *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Hasło jest wymagane
      </div>
      <div class="invalid-feedback"
            *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">za krótkie hasło 4 znaki
      </div>
      <div class="invalid-feedback"
            *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">za dlugie hasło 15 znakow
      </div>

  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Potwierdz hasło"  formControlName="confirmPassword"
                  [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
                                || registerForm.get('confirmPassword').touched && registerForm.hasError('missmatch')}">
    <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Hasło jest wymagane
    </div>
    <div class="invalid-feedback"
            *ngIf="registerForm.hasError('missmatch') && registerForm.get('confirmPassword').touched">Hasła nie pasują do siebie
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="registerForm.valid" >Rejestacja</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Anuluj</button>
  </div>
</form>
